<div class="jumbotron">

  <h1>Welcome to Auction App</h1>

  <p>Tutorial for Angular 7 frontend.</p>
  <a class="btn btn-lg btn-primary" routerLink="." role="button">New User? Get started: sign-up</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row justify-content-center">Box with hover effect</div>
      <div class="row justify-content-center">
        <div class="box boxsh"></div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row justify-content-center">Box with hover effect</div>
      <div class="row justify-content-center">
        <div class="box boxsh"></div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row justify-content-center">Box with hover effect</div>
      <div class="row justify-content-center">
        <div class="box boxsh"></div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row justify-content-center">Box with hover effect</div>
      <div class="row justify-content-center">
        <div class="box boxsh"></div>
      </div>
    </div>
  </div>
</div>
