<div class="jumbotron">

  <h1>Welcome to Auction App</h1>

  <p>Tutorial for Angular 10 Frontend - Auction Case Study.</p>
  <a [hidden]="isLoggedIn" class="btn btn-lg btn-primary" routerLink="register" role="button">New User? Get started: sign-up</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row justify-content-center">Box with hover effect</div>
      <div class="row justify-content-center">
        <div class="box boxsh row justify-content-center">
          <img class="boximage" src="../../assets/01-yamaha-blue.png"  alt="bike"/>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row justify-content-center">Box with hover effect</div>
      <div class="row justify-content-center">
        <div class="box boxsh row justify-content-center">
          <img class="boximage" src="../../assets/02-yamaha-aquamarine.png"  alt="bike"/>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row justify-content-center">Box with hover effect</div>
      <div class="row justify-content-center">
        <div class="box boxsh row justify-content-center">
          <img class="boximage" src="../../assets/03-yamaha-red.png"  alt="bike"/>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row justify-content-center">Box with hover effect</div>
      <div class="row justify-content-center">
        <div class="box boxsh row justify-content-center">
          <img class="boximage" src="../../assets/01-yamaha-blue.png"  alt="bike"/>
        </div>
      </div>
    </div>
  </div>
</div>

<app-alert-test></app-alert-test>
